In [12]:
import pandas as pd
import numpy as np
import re

In [164]:
df = pd.read_csv("./data/도로교통공단_교통사망사고정보_2018.csv", encoding = "euc-kr")
df.head(1)

,발생년,발생년월일시분,주야,요일,사망자수,사상자수,중상자수,경상자수,부상신고자수,발생지시도,...,도로형태_대분류,도로형태,가해자_당사자종별_대분류,가해자_당사자종별,피해자_당사자종별_대분류,피해자_당사자종별,발생위치X_UTMK,발생위치Y_UTMK,경도,위도
0,2018,2018-02-14 06:35,주,수,1,1,0,0,0,서울,...,단일로,기타단일로,승용차,승용차,보행자,보행자,950497.0,1954702.0,126.939274,37.590388

In [208]:
# 18년도
df = pd.read_csv("./data/도로교통공단_교통사망사고정보_2018.csv", encoding = "euc-kr")


df.iloc[:,1] = df.iloc[:,1].str.replace("-", "")
df.iloc[:,1] = df.iloc[:,1].str[:8]


df = df[df["발생지시도"] == "서울"].reset_index(drop = True)
df.rename(columns = {'발생년월일시분' : '발생년월일'}, inplace = True)

df.to_csv(f"./data/교통사고_서울2018.csv", encoding="euc-kr", index=False)

In [206]:
df

,발생년,발생년월일시,발생분,주야,요일,사망자수,사상자수,중상자수,경상자수,부상신고자수,...,도로형태_대분류,도로형태,가해자_당사자종별_대분류,가해자_당사자종별,피해자_당사자종별_대분류,피해자_당사자종별,발생위치X_UTMK,발생위치Y_UTMK,경도,위도
0,2017,20170101,28,야간,일,1,1,0,0,0,...,교차로,교차로부근,승용차,승용차,보행자,보행자,967570,1944453,127.133107,37.498741
1,2017,20170101,37,야간,일,1,1,0,0,0,...,단일로,기타단일로,승용차,승용차,보행자,보행자,946778,1941695,126.898094,37.472946
2,2017,20170102,30,야간,월,1,1,0,0,0,...,교차로,교차로내,승용차,승용차,보행자,보행자,948413,1957900,126.915444,37.619097
3,2017,20170102,40,주간,월,1,1,0,0,0,...,교차로,교차로내,이륜차,이륜차,없음,없음,946757,1943309,126.897739,37.487492
4,2017,20170102,40,주간,월,1,5,0,4,0,...,교차로,교차로내,승용차,승용차,승합차,승합차,947235,1938476,126.903492,37.443959
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,2017,20171227,58,주간,수,1,6,1,4,0,...,단일로,기타단일로,승용차,승용차,자전거,자전거,956816,1952587,127.010972,37.571643
331,2017,20171227,0,야간,수,1,1,0,0,0,...,단일로,기타단일로,화물차,화물차,보행자,보행자,948437,1954788,126.915935,37.591050
332,2017,20171227,24,야간,수,1,1,0,0,0,...,단일로,기타단일로,승용차,승용차,보행자,보행자,962356,1945860,127.074052,37.511253
333,2017,20171228,45,야간,목,1,1,0,0,0,...,단일로,기타단일로,화물차,화물차,보행자,보행자,957912,1952943,127.023363,37.574902
334,2017,20171229,54,야간,금,1,1,0,0,0,...,단일로,기타단일로,건설기계,건설기계,이륜차,이륜차,954443,1941206,126.984806,37.468949

In [207]:
# 2012 ~ 17년도 서울 및 정형된 틀 전처리
try:
    for year in range(2012, 2018):
        df = pd.read_csv(f"./data/도로교통공단_교통사망사고정보_{year}.csv", encoding = "euc-kr")


        df.iloc[:,1] = df.iloc[:,1].str.replace("-", "")
        df.iloc[:,1] = df.iloc[:,1].str[:8]


        df = df[df["발생지시도"] == "서울"].reset_index(drop = True)
        df.rename(columns = {'발생년월일시분' : '발생년월일시'}, inplace = True)
        if df.columns[2] == "발생분":
            df.drop(["발생분"], axis = 1, inplace = True)
        df.drop(["법규위반_대분류", "가해자_당사자종별_대분류", "피해자_당사자종별_대분류"], axis = 1, inplace = True)
        df = df[df["발생지시도"] == "서울"].reset_index(drop = True)
        df.to_csv(f"./data/교통사고_서울{year}.csv", encoding="euc-kr", index=False)
except Exception as e:
    print(year)

In [182]:
df = pd.read_csv(f"./data/도로교통공단_교통사망사고정보_2017.csv", encoding = "euc-kr")


df.iloc[:,1] = df.iloc[:,1].str.replace("-", "")
df.iloc[:,1] = df.iloc[:,1].str.split(" ")[0][0]

In [183]:
df.iloc[:,1]

0       20170101
1       20170101
2       20170101
3       20170101
4       20170101
          ...
4060    20170101
4061    20170101
4062    20170101
4063    20170101
4064    20170101
Name: 발생년월일시, Length: 4065, dtype: object